@media screen and (max-width: 768px) {
  nav {
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }
}
.newsletter-section h3, form {
  text-align: center;
}

#container-foto {
  display: none;
}

#sobre {
  width: 40% !important;
  position: relative;
  right: 10%;
  text-align: start !important;
}
#sobre p {
  font-size: 80%;
  width: 170%;
  margin: 0;
}

.container-inicial {
  justify-content: start;
  width: 100%;
  position: relative;
  bottom: 60px;
}

#gatoTopo {
  height: 210px;
}

#container-quote {
  padding: 20px;
}
#container-quote blockquote {
  width: auto !important;
  text-align: center !important;
  font-size: 20px !important;
}

.acessos-container {
  flex-wrap: wrap;
}
.acessos-container table {
  width: 100%;
  margin-left: 0 !important;
}
.acessos-container table img {
  height: 80px;
  width: 80%;
}

.Principal {
  flex-direction: column;
  padding: 0%;
  flex: 1;
}

.divFora {
  width: 100%;
}

#aa {
  width: 100%;
}

.parteLado {
  display: none;
}

.parteLogin {
  padding: 25px;
  width: 80% !important;
  margin-top: 0;
}

#lado {
  width: 200%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}

nav {
  background-color: white;
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
nav .cimaNav {
  display: flex;
  justify-content: space-between;
}
nav .cimaNav img {
  width: 250px;
  height: 190px;
  margin-left: 10px;
  padding-bottom: 15px;
  position: relative;
  bottom: 40px;
}
nav .cimaNav ul {
  display: flex;
  justify-content: center;
  color: rgb(124, 122, 122);
  margin-top: 20px;
  margin-right: 35px;
  margin-bottom: 45px;
  font-size: 15px;
  gap: 20px;
}
nav .cimaNav ul li {
  list-style-type: none;
}
nav .cimaNav ul li:hover {
  padding: 5px;
  cursor: pointer;
}
nav .cimaNav ul li button {
  width: 80px;
  border-radius: 25px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
nav #deixandoFlex {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
}
nav #deixandoFlex img {
  width: 200px;
  margin-top: -20px;
}
nav #deixandoFlex ul {
  list-style-type: none;
  display: flex;
  margin-top: 40px;
}
nav #deixandoFlex li {
  margin-left: 15px;
}
nav #deixandoFlex button {
  width: 80px;
  border-radius: 25px;
  background-color: #1b7ec0;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
nav .baixoNav {
  position: relative;
  bottom: 120px;
  right: 200px;
}
nav .baixoNav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style-type: none;
}
nav .baixoNav ul li {
  position: relative;
  bottom: 5px;
  left: 150px;
  padding-bottom: 5px;
}
nav .baixoNav ul li:hover {
  border-bottom: 2px solid black;
}
nav .baixoNav ul li .abrirMenu {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  top: 105%;
  left: 0;
  margin-top: 5px;
}
nav .baixoNav ul li .abrirMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
nav .baixoNav ul li .abrirMenu a:hover {
  background-color: #f1f1f1;
}

.top {
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
  height: 450px;
}
.top img {
  width: 95%;
  height: auto;
}

.container-inicial {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}
.container-inicial #sobre {
  width: 30%;
  flex-wrap: nowrap;
  margin-top: 120px;
}
.container-inicial #sobre h1 {
  font-weight: bold;
  color: rgb(5, 43, 114);
  text-align: justify;
}
.container-inicial #sobre p {
  margin-top: 25px;
  text-align: justify;
}
.container-inicial #sobre span {
  color: rgb(5, 43, 114);
}
.container-inicial img {
  height: 300px;
  width: 300px;
  padding-bottom: 15px;
  border-radius: 90%;
  margin-top: 145px;
}

.galeria {
  background-color: #feffc9;
  height: 650px;
  padding: 45px 0 0 45px;
}
.galeria h3 {
  text-align: center;
}
.galeria p {
  text-align: center;
}

#galeriaCarousel {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
#galeriaCarousel .carousel-item {
  height: 450px;
  width: 900px;
}
#galeriaCarousel .carousel-item img {
  height: auto;
}

.banner-banner {
  background-color: rgba(255, 234, 254, 0.6117647059);
  height: 450px;
  align-items: center;
  margin: 40px;
  padding-top: 40px;
}
.banner-banner .button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.banner-banner .button button {
  width: 270px;
  height: 40px;
  border-radius: 55px;
}
.banner-banner .servicoDescricao {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.banner table {
  background-color: white;
  height: 190px;
  width: 195px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.banner #center img {
  position: relative;
  top: 2px;
  left: 5px;
}
.banner #centraliza img {
  position: relative;
  bottom: 5px;
  left: 2px;
}
.banner #centraliza img p {
  padding-bottom: 10px;
}
.banner .adocao {
  width: 75%;
  height: 410px;
  padding: 40px;
}
.banner .servicos img, .banner .servicos2 img {
  height: 125x;
  width: 135px;
  padding-left: 50px;
  padding-top: 25px;
}
.banner .servicos p, .banner .servicos2 p {
  font-size: 15px;
  color: rgb(8, 8, 122);
  padding-left: 55px;
  margin-top: 25px;
  padding-bottom: 2px;
}

#container-quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgb(195, 231, 225);
}
#container-quote blockquote {
  font-size: 28px;
}
#container-quote blockquote .cite {
  margin-top: 10px;
  text-align: right;
}

#acessar {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 45px;
}

.acessos-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 70px;
}

.tabela-centralize {
  margin-top: 80px;
}

.acesso {
  width: 150px;
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: medium;
}
.acesso table {
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
  margin: -10px 20px 5px -10px;
}
.acesso table img {
  width: 90%;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid rgb(92, 90, 90);
}
.acesso table button {
  background-color: rgb(135, 206, 228);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(236, 160, 236);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}
.acesso table button:hover {
  background-color: rgb(223, 142, 223);
}

.button-artigo {
  display: flex;
  justify-content: center;
}
.button-artigo button {
  background-color: rgb(236, 160, 236);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(236, 160, 236);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 40px;
}

footer {
  background-color: #faf9d9;
  color: #000000;
  padding: 40px 20px;
  font-size: 14px;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer-container .footer-section {
  flex: 1 1 250px;
  margin-bottom: 20px;
  padding: 10px;
}
footer .footer-container .footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
footer .footer-container .footer-section ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-container .footer-section ul li {
  margin-bottom: 8px;
}
footer .footer-container .footer-section ul li a {
  color: #000000;
  text-decoration: none;
}
footer .footer-container .footer-section ul li a:hover {
  text-decoration: underline;
}
footer .footer-container .footer-section .social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
}
footer .footer-container .footer-section .social-icons li {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
footer .footer-container .footer-section .social-icons li a {
  color: #333;
}
footer .footer-container .newsletter-section {
  margin-top: 50px;
  margin-bottom: 20px;
}
footer .footer-container .newsletter-section form {
  display: flex;
}
footer .footer-container .newsletter-section form input[type=email] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}
footer .footer-container .newsletter-section form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 14px;
}
footer .footer-container .more-content-section {
  border: none;
}
footer .copy {
  margin-top: 25px;
  text-align: center;
}

.divFora {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
}

.Principal {
  display: flex;
  justify-content: center;
  background-color: rgb(192, 199, 241);
  padding: 10%;
  align-items: center;
  border-radius: 45px;
  gap: 80px;
}
.Principal .parteLogin {
  height: 400px;
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 45px;
  align-items: center;
  margin-top: 110px;
  border: 1px solid black;
}
.Principal .parteLogin input {
  width: 60%;
  border-radius: 25px;
  margin-top: 45px;
}
.Principal .parteLogin #senha {
  margin-right: 15px;
}
.Principal .parteLogin a {
  margin-top: 15px;
}
.Principal .parteLogin #esqueceu {
  color: rgb(206, 41, 41);
  border-bottom: 1px solid rgb(206, 41, 41);
}
.Principal .parteLogin button {
  margin-top: 25px;
  height: 40px;
  width: 110px;
}
.Principal .parteLogin #centerUser {
  margin-right: 20px;
}
.Principal .parteLado {
  color: white;
  font-weight: bolder;
}
.Principal .parteLado img {
  width: 550px;
  height: 320px;
  margin-bottom: -150px;
}/*# sourceMappingURL=style.css.map */