@import "./imports/variaveis.scss";
@import "./imports/media.scss";


* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
body{

    height: 100vh;

    a {
        color: inherit; 
        text-decoration: none; 

        &:visited{
            text-decoration: none;
        }
    }

    
}

nav {
    background-color: white; 
    height: 100px;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

    .cimaNav {
        display: flex;
        justify-content: space-between;

        img {
            width: 250px;
            height: 190px;
            margin-left: 10px;
            padding-bottom: 15px;
            position: relative;
            bottom: 40px;
        }

        ul {
            display: flex;
            justify-content: center;
            color: rgb(124, 122, 122);
            margin-top: 20px;
            margin-right: 35px;
            margin-bottom: 45px;
            font-size: 15px;
            gap: 20px;

            li {
                list-style-type: none;

                &:hover {
                    padding: 5px;
                    cursor: pointer;
                }

                button {
                    width: 80px;
                    border-radius: 25px;
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }

    #deixandoFlex{
        display: flex;
        justify-content: space-between;
        padding: 0px 10px 0px 15px;
        img{
            width: 200px;
            margin-top: -20px;
        }
        ul{
            list-style-type: none;
            display: flex;
            margin-top: 40px;
        }
        li{
            margin-left: 15px; 
        }
        button{
            width: 80px;
            border-radius: 25px;
            background-color: #1b7ec0;
            color: rgb(255, 255, 255);
            margin-right: 10px; 
        }
    }
    .baixoNav {
        position: relative;
        bottom: 120px;
        right: 200px;

        ul {
            display: flex;
            justify-content: center;
            gap: 25px;
            list-style-type: none;

            li {
                position: relative;
                bottom: 5px;
                left: 150px;
                padding-bottom: 5px;

                &:hover{
                    border-bottom: 2px solid black;
                }

                .abrirMenu {
                    display: flex;
                    position: absolute;
                    background-color: #f9f9f9;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
                    z-index: 1;
                    top: 105%;
                    left: 0;
                    margin-top: 5px;
                    
                    
                
                }
 
                .abrirMenu a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    

                    &:hover {
                        background-color: #f1f1f1;
                       
                    }
                }
            }
        }
    }
}

.top{
    position: relative;
    top: 120px; 
    display: flex;
    justify-content: center;
    height: 450px;
    
    img {   
        width: 95%;
        height: auto;
    
    }
}


.container-inicial {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px; 

    #sobre {
        width: 30%;
        flex-wrap: nowrap;
        margin-top: 120px;

        h1{  
            font-weight: bold;
            color: $cor-principal; 
            text-align: justify;
        }
  
        p {
            margin-top: 25px; 
            text-align: justify;
        }  

        span { 
            color: $cor-principal; 
        }
    }
     

    img {
        height: 300px;
        width: $largura-imagem-acessar;
        padding-bottom: 15px; 
        border-radius: 90%;
        margin-top: 145px;
    }
}

.galeria{
    background-color: #feffc9;
    height: 650px;
    padding: 45px 0 0 45px;


    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
#galeriaCarousel {
    margin-top: 20px; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    height: auto;


    .carousel-item {
        height: 450px;
        width: 900px; 
        
        img{
            height: auto;
        }
    }

   
}

.banner-banner{ 
    background-color: #ffeafe9c;
    height: 450px;
    align-items: center;
    margin: 40px;
    padding-top: 40px;

    .button{
        display: flex;
       justify-content: center;
       margin-top: 40px;

       button{
        width: 270px;
        height: 40px;
        border-radius: 55px;
       }
    }

    .servicoDescricao{
        text-align: center;
    }

}

.banner {
    display: flex;
    justify-content:center;
    gap: 10px;


    table {
        background-color: white;
        height: 190px;
        width: 195px;
        text-align: center; 
        vertical-align: middle;
        display: table-cell; 
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0.3, 0.2, 0.2, 0.4);

    
        
    }

    #center{
        img{
            position: relative;
            top: 2px;
            left: 5px; 
        }
    }

    #centraliza{
        img{
            position: relative;
            bottom: 5px;
            left: 2px;
            p{
               padding-bottom: 10px;
            }
        }
    }

    .adocao {
        width: 75%;
        height: 410px;
        padding: 40px;
    }

    .servicos, .servicos2 {
        img {
            height: 125x;
            width: 135px;
            padding-left: 50px;
            padding-top: 25px;
        }


        p{
            font-size: 15px;
            color: rgb(8, 8, 122);
            padding-left: 55px;
            margin-top: 25px;
            padding-bottom: 2px;
        }
    }
}

#container-quote {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: rgb(195, 231, 225);

    blockquote {
        font-size: $tamanho-fonte-quote;
        .cite{
            margin-top: 10px;
            text-align: right;
        }
    }
}

#acessar {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 45px;
}



.acessos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 70px;
}


.tabela-centralize{
   margin-top: 80px; 
}
.acesso {
    width: $largura-imagem-acesso;
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size:medium;

    

    table {
        padding: 10px;
        background-color: white;
        margin-bottom: 20px;
        overflow: hidden;
        margin: -10px 20px 5px -10px;
 
        img {
            width: 90%;
            height: 120px;
            border-radius: 50%;
            margin-bottom: 15px;
            border: 2px solid rgb(92, 90, 90);
        }

        button {
            background-color: rgb(135, 206, 228);
            color: rgb(255, 255, 255);
            border-radius: 5px;
            border:1px solid rgb(236, 160, 236);
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 40px;


            &:hover {
                background-color: rgb(223, 142, 223);
            }
        }
    }


}

.button-artigo{
    display: flex;
    justify-content: center;
    button{
        background-color: rgb(236, 160, 236);
            color: white;
            border-radius: 5px;
            border:1px solid rgb(236, 160, 236);
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 40px;;
            
    }

  }


footer {
    background-color: $cor-fundo-footer;
    color: $cor-texto-footer;
    padding: $padding-footer;
    font-size: $tamanho-fonte-footer;
    


    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        

        .footer-section {
            flex: 1 1 250px;
            margin-bottom: 20px;
            padding: 10px; 

            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-bottom: 8px;

                    a {
                        color: $cor-texto-footer;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .social-icons {
                display: flex;
                justify-content: space-between;
                max-width: 120px;

                li {
                    width: $tamanho-icones-sociais;
                    height: $tamanho-icones-sociais;
                    text-align: center;
                    line-height: $tamanho-icones-sociais;
                    border-radius: 50%;
                    background-color: #fff;

                    a {
                        color: #333;
                    }
                }
            }
        }

        .newsletter-section {
            margin-top: 50px;
            margin-bottom: 20px;

            form {
                display: flex;

                input[type="email"] {
                    width: $largura-imagem-acessar;
                    padding: 10px;
                    border: none;
                    border-radius: 4px 0 0 4px;
                    font-size: $tamanho-fonte-footer;
                }

                button {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 0 4px 4px 0;
                    cursor: pointer;
                    font-size: $tamanho-fonte-footer;
                }
            }
        }

        .more-content-section{
            border: none;
        }
        
    }
    .copy{
        margin-top: 25px;
        text-align: center;
    }
}

.divFora {
    background-color: #ffffff;
    height: 100vh; 
    display: flex;
    width: 100%;
    justify-content: center;
}

.Principal {
    display: flex; 
    justify-content: center;
    background-color: rgb(192, 199, 241);  
    padding: 10%;
    align-items: center;
    border-radius: 45px;
    gap: 80px; 
   

    .parteLogin {
        height: 400px;
        width: 30%;
        padding: 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 45px;
        align-items: center;
        margin-top: 110px;  
        border: 1px solid black;

        input {
            width: 60%;
            border-radius: 25px;
            margin-top: 45px;
        }

        #senha {
            margin-right: 15px;
        }

        a {
            margin-top: 15px;
        }

        #esqueceu {
            color: rgb(206, 41, 41);
            border-bottom: 1px solid rgb(206, 41, 41);
        }

        button {
            margin-top: 25px;
            height: 40px;
            width: 110px;
        }

        #centerUser {
            margin-right: 20px;
        }
    }

    .parteLado {
        color: white;
        font-weight: bolder; 

        img {
            width: 550px;
            height: 320px;
            margin-bottom: -150px;
        }
    }
}

 


