$cor-principal: rgb(5, 43, 114);
$cor-fundo-footer: #faf9d9;
$cor-texto-footer: #000000;
$padding-footer: 40px 20px;
$tamanho-fonte-menu: 18px;
$tamanho-fonte-li-hover: 10px;
$tamanho-fonte-quote: 28px;
$tamanho-fonte-footer: 14px;
$tamanho-icones-sociais: 30px;
$largura-imagem-acesso: 150px;
$largura-imagem-acessar: 300px;
$cor-destaque: #ff69b4;
